In [2]:
import pandas as pd

Load in the data

In [3]:
file_path_i = '../data/income2022data.csv'
income_data = pd.read_csv(file_path_i, skiprows=[0])
income_data.head()

,Geography,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to $14,999","Estimate!!Households!!Total!!$15,000 to $24,999","Margin of Error!!Households!!Total!!$15,000 to $24,999",...,Margin of Error!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Unnamed: 130
0,0100000US,United States,129870928,136261,5.5,0.1,3.7,0.1,6.8,0.1,...,166,66351,245,(X),(X),(X),(X),32.7,(X),NaN
1,0500000US01003,"Baldwin County, Alabama",98854,3781,5.6,1.8,3.8,1.5,9.7,2.1,...,5248,47800,6231,(X),(X),(X),(X),31.2,(X),NaN
2,0500000US01015,"Calhoun County, Alabama",45701,1562,9.1,2.4,6.0,2.2,7.3,2.4,...,4724,39522,7197,(X),(X),(X),(X),35.6,(X),NaN
3,0500000US01043,"Cullman County, Alabama",35966,1274,7.3,2.6,4.7,2.0,11.4,3.6,...,6018,54104,12087,(X),(X),(X),(X),38.3,(X),NaN
4,0500000US01049,"DeKalb County, Alabama",26459,1114,9.5,3.0,5.2,2.0,12.8,3.2,...,3339,30442,4103,(X),(X),(X),(X),25.9,(X),NaN

Finding the existing median columns

In [12]:
median_income_columns = [col for col in income_data.columns if "median" in col.lower() and "income" in col.lower()] #trying to pull any columns that have existing calculated medians
median_income_columns

['Estimate!!Households!!Median income (dollars)',
 'Margin of Error!!Households!!Median income (dollars)',
 'Estimate!!Families!!Median income (dollars)',
 'Margin of Error!!Families!!Median income (dollars)',
 'Estimate!!Married-couple families!!Median income (dollars)',
 'Margin of Error!!Married-couple families!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Median income (dollars)',
 'Margin of Error!!Nonfamily households!!Median income (dollars)']

Removing the margin of error columns

In [18]:
median_income_columns = [col for col in income_data.columns if "median" in col.lower() and "income" in col.lower() and "margin of error" not in col.lower()]
median_income_columns

['Estimate!!Households!!Median income (dollars)',
 'Estimate!!Families!!Median income (dollars)',
 'Estimate!!Married-couple families!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Median income (dollars)']

In [36]:
median_income_description = income_data[median_income_columns].describe()
median_income_description

,Estimate!!Households!!Median income (dollars),Estimate!!Families!!Median income (dollars),Estimate!!Married-couple families!!Median income (dollars),Estimate!!Nonfamily households!!Median income (dollars)
count,849.000000,849.000000,849.000000,849.000000
mean,73817.130742,91426.815077,107022.275618,43560.159011
std,19769.632385,23222.462215,25061.475832,12250.851832
min,17700.000000,21488.000000,30065.000000,9830.000000
25%,60616.000000,76009.000000,90721.000000,36081.000000
50%,70533.000000,87668.000000,102845.000000,41995.000000
75%,83613.000000,102612.000000,117384.000000,49908.000000
max,167531.000000,198053.000000,227658.000000,106208.000000

In [37]:
median_income_description = median_income_description.round(2)
median_income_description

,Estimate!!Households!!Median income (dollars),Estimate!!Families!!Median income (dollars),Estimate!!Married-couple families!!Median income (dollars),Estimate!!Nonfamily households!!Median income (dollars)
count,849.00,849.00,849.00,849.00
mean,73817.13,91426.82,107022.28,43560.16
std,19769.63,23222.46,25061.48,12250.85
min,17700.00,21488.00,30065.00,9830.00
25%,60616.00,76009.00,90721.00,36081.00
50%,70533.00,87668.00,102845.00,41995.00
75%,83613.00,102612.00,117384.00,49908.00
max,167531.00,198053.00,227658.00,106208.00