In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

Load in the data

In [2]:
file_path_i = '../data/income2019.csv'
income_data = pd.read_csv(file_path_i, skiprows=[0])
income_data.head()

,Geography,Geographic Area Name,Geographic Area Name.1,Unnamed: 3,Estimate!!Households!!Total,Margin of Error!!Households!!Total,"Estimate!!Households!!Total!!Less than $10,000","Margin of Error!!Households!!Total!!Less than $10,000","Estimate!!Households!!Total!!$10,000 to $14,999","Margin of Error!!Households!!Total!!$10,000 to $14,999",...,Estimate!!Nonfamily households!!Median income (dollars),Margin of Error!!Nonfamily households!!Median income (dollars),Estimate!!Nonfamily households!!Mean income (dollars),Margin of Error!!Nonfamily households!!Mean income (dollars),Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Household income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Family income in the past 12 months,Estimate!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months,Margin of Error!!Nonfamily households!!PERCENT ALLOCATED!!Nonfamily income in the past 12 months
0,0100000US,United States,United States,NaN,122802852,137327,5.8,0.1,4.0,0.1,...,39871,169,58110,220,(X),(X),(X),(X),32.7,(X)
1,0500000US01003,"Baldwin County, Alabama",Baldwin County,Alabama,82325,3231,4.9,1.6,3.9,1.4,...,37494,5940,48871,5729,(X),(X),(X),(X),30.1,(X)
2,0500000US01015,"Calhoun County, Alabama",Calhoun County,Alabama,44636,2010,9.6,3.1,7.3,2.4,...,26143,3350,32609,4229,(X),(X),(X),(X),35.7,(X)
3,0500000US01043,"Cullman County, Alabama",Cullman County,Alabama,32090,1233,4.4,1.5,5.4,2.2,...,22464,3132,28508,2622,(X),(X),(X),(X),37.1,(X)
4,0500000US01049,"DeKalb County, Alabama",DeKalb County,Alabama,24880,1347,7.2,2.8,8.4,3.8,...,21213,4028,36416,10258,(X),(X),(X),(X),36.0,(X)

Finding the existing median columns

In [3]:
median_income_columns = [col for col in income_data.columns if "median" in col.lower() and "income" in col.lower()] #trying to pull any columns that have existing calculated medians
median_income_columns

['Estimate!!Households!!Median income (dollars)',
 'Margin of Error!!Households!!Median income (dollars)',
 'Estimate!!Families!!Median income (dollars)',
 'Margin of Error!!Families!!Median income (dollars)',
 'Estimate!!Married-couple families!!Median income (dollars)',
 'Margin of Error!!Married-couple families!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Median income (dollars)',
 'Margin of Error!!Nonfamily households!!Median income (dollars)']

Removing the margin of error columns

In [4]:
median_income_columns = [col for col in income_data.columns if "median" in col.lower() and "income" in col.lower() and "margin of error" not in col.lower()]
median_income_columns

['Estimate!!Households!!Median income (dollars)',
 'Estimate!!Families!!Median income (dollars)',
 'Estimate!!Married-couple families!!Median income (dollars)',
 'Estimate!!Nonfamily households!!Median income (dollars)']

In [5]:
income_data["Estimate!!Households!!Median income (dollars)"].max()

151800

In [6]:
median_income_description = income_data[median_income_columns].describe()
median_income_description

,Estimate!!Households!!Median income (dollars),Estimate!!Families!!Median income (dollars),Estimate!!Married-couple families!!Median income (dollars),Estimate!!Nonfamily households!!Median income (dollars)
count,841.000000,841.000000,841.000000,841.000000
mean,64961.154578,80215.862069,94310.200951,38274.027348
std,17707.231321,20697.780459,22187.222445,11119.168451
min,14525.000000,18823.000000,26899.000000,9074.000000
25%,53067.000000,66546.000000,80016.000000,31337.000000
50%,61300.000000,76892.000000,90777.000000,36530.000000
75%,72797.000000,90719.000000,104138.000000,43252.000000
max,151800.000000,169887.000000,191064.000000,105235.000000

In [7]:
median_income_description = median_income_description.round(2)
median_income_description

,Estimate!!Households!!Median income (dollars),Estimate!!Families!!Median income (dollars),Estimate!!Married-couple families!!Median income (dollars),Estimate!!Nonfamily households!!Median income (dollars)
count,841.00,841.00,841.00,841.00
mean,64961.15,80215.86,94310.20,38274.03
std,17707.23,20697.78,22187.22,11119.17
min,14525.00,18823.00,26899.00,9074.00
25%,53067.00,66546.00,80016.00,31337.00
50%,61300.00,76892.00,90777.00,36530.00
75%,72797.00,90719.00,104138.00,43252.00
max,151800.00,169887.00,191064.00,105235.00

Looking at distribution of income

All income

In [8]:
income_columns = [col for col in income_data.columns if "total" in col.lower() and "$" in col.lower() and "margin of error" not in col.lower()] #trying to pull all income columns
income_columns

['Estimate!!Households!!Total!!Less than $10,000',
 'Estimate!!Households!!Total!!$10,000 to $14,999',
 'Estimate!!Households!!Total!!$15,000 to $24,999',
 'Estimate!!Households!!Total!!$25,000 to $34,999',
 'Estimate!!Households!!Total!!$35,000 to $49,999',
 'Estimate!!Households!!Total!!$50,000 to $74,999',
 'Estimate!!Households!!Total!!$75,000 to $99,999',
 'Estimate!!Households!!Total!!$100,000 to $149,999',
 'Estimate!!Households!!Total!!$150,000 to $199,999',
 'Estimate!!Households!!Total!!$200,000 or more',
 'Estimate!!Families!!Total!!Less than $10,000',
 'Estimate!!Families!!Total!!$10,000 to $14,999',
 'Estimate!!Families!!Total!!$15,000 to $24,999',
 'Estimate!!Families!!Total!!$25,000 to $34,999',
 'Estimate!!Families!!Total!!$35,000 to $49,999',
 'Estimate!!Families!!Total!!$50,000 to $74,999',
 'Estimate!!Families!!Total!!$75,000 to $99,999',
 'Estimate!!Families!!Total!!$100,000 to $149,999',
 'Estimate!!Families!!Total!!$150,000 to $199,999',
 'Estimate!!Families!!Total!!$200,000 or more',
 'Estimate!!Married-couple families!!Total!!Less than $10,000',
 'Estimate!!Married-couple families!!Total!!$10,000 to $14,999',
 'Estimate!!Married-couple families!!Total!!$15,000 to $24,999',
 'Estimate!!Married-couple families!!Total!!$25,000 to $34,999',
 'Estimate!!Married-couple families!!Total!!$35,000 to $49,999',
 'Estimate!!Married-couple families!!Total!!$50,000 to $74,999',
 'Estimate!!Married-couple families!!Total!!$75,000 to $99,999',
 'Estimate!!Married-couple families!!Total!!$100,000 to $149,999',
 'Estimate!!Married-couple families!!Total!!$150,000 to $199,999',
 'Estimate!!Married-couple families!!Total!!$200,000 or more',
 'Estimate!!Nonfamily households!!Total!!Less than $10,000',
 'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999',
 'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999',
 'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999',
 'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999',
 'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999',
 'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999',
 'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999',
 'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999',
 'Estimate!!Nonfamily households!!Total!!$200,000 or more']

Only Households

In [9]:
total_households_columns = [col for col in income_data.columns if "total" in col.lower() and "households" in col.lower() and "$" in col.lower() and "margin of error" not in col.lower() and "nonfamily" not in col.lower() ]
total_households_columns

['Estimate!!Households!!Total!!Less than $10,000',
 'Estimate!!Households!!Total!!$10,000 to $14,999',
 'Estimate!!Households!!Total!!$15,000 to $24,999',
 'Estimate!!Households!!Total!!$25,000 to $34,999',
 'Estimate!!Households!!Total!!$35,000 to $49,999',
 'Estimate!!Households!!Total!!$50,000 to $74,999',
 'Estimate!!Households!!Total!!$75,000 to $99,999',
 'Estimate!!Households!!Total!!$100,000 to $149,999',
 'Estimate!!Households!!Total!!$150,000 to $199,999',
 'Estimate!!Households!!Total!!$200,000 or more']

Only Families

In [10]:
family_columns = [col for col in income_data.columns if "total" in col.lower() and "families" in col.lower() and "$" in col.lower() and "margin of error" not in col.lower() and "married" not in col.lower()]
family_columns

['Estimate!!Families!!Total!!Less than $10,000',
 'Estimate!!Families!!Total!!$10,000 to $14,999',
 'Estimate!!Families!!Total!!$15,000 to $24,999',
 'Estimate!!Families!!Total!!$25,000 to $34,999',
 'Estimate!!Families!!Total!!$35,000 to $49,999',
 'Estimate!!Families!!Total!!$50,000 to $74,999',
 'Estimate!!Families!!Total!!$75,000 to $99,999',
 'Estimate!!Families!!Total!!$100,000 to $149,999',
 'Estimate!!Families!!Total!!$150,000 to $199,999',
 'Estimate!!Families!!Total!!$200,000 or more']

Only Married Couples

In [11]:
married_columns = [col for col in income_data.columns if "total" in col.lower() and "married" in col.lower() and "$" in col.lower() and "margin of error" not in col.lower()]
married_columns

['Estimate!!Married-couple families!!Total!!Less than $10,000',
 'Estimate!!Married-couple families!!Total!!$10,000 to $14,999',
 'Estimate!!Married-couple families!!Total!!$15,000 to $24,999',
 'Estimate!!Married-couple families!!Total!!$25,000 to $34,999',
 'Estimate!!Married-couple families!!Total!!$35,000 to $49,999',
 'Estimate!!Married-couple families!!Total!!$50,000 to $74,999',
 'Estimate!!Married-couple families!!Total!!$75,000 to $99,999',
 'Estimate!!Married-couple families!!Total!!$100,000 to $149,999',
 'Estimate!!Married-couple families!!Total!!$150,000 to $199,999',
 'Estimate!!Married-couple families!!Total!!$200,000 or more']

Non-family

In [12]:
non_family_columns = [col for col in income_data.columns if "total" in col.lower() and "non" in col.lower() and "$" in col.lower() and "margin of error" not in col.lower() and "married" not in col.lower()]
non_family_columns

['Estimate!!Nonfamily households!!Total!!Less than $10,000',
 'Estimate!!Nonfamily households!!Total!!$10,000 to $14,999',
 'Estimate!!Nonfamily households!!Total!!$15,000 to $24,999',
 'Estimate!!Nonfamily households!!Total!!$25,000 to $34,999',
 'Estimate!!Nonfamily households!!Total!!$35,000 to $49,999',
 'Estimate!!Nonfamily households!!Total!!$50,000 to $74,999',
 'Estimate!!Nonfamily households!!Total!!$75,000 to $99,999',
 'Estimate!!Nonfamily households!!Total!!$100,000 to $149,999',
 'Estimate!!Nonfamily households!!Total!!$150,000 to $199,999',
 'Estimate!!Nonfamily households!!Total!!$200,000 or more']